section#vertrag-section-a {
    padding: 2em;
    text-align: center;

    .vertrag-download {
        
        @include breakpoint-up(small) {
            padding: 0 10rem;
        }
        
        a {
            img {
                width: 100%;
            }

            figcaption {
                color: $darkGray;
                font-size: $font-s;
                font-weight: 500;
            }
        }


    }

}