// Section A
section#solawi-section-a {
    text-align: center;
    opacity: 0;
    transform: translateX(10rem);

    div {
        padding: 2em;
    }
    img {
        width: 100%;
    }
}

// Section B
section#solawi-section-b {
    opacity: 0;
    transform: translateX(-10rem);
    text-align: center;
    div {
        padding: 2em;
    }

    img {
        width: 100%;
    }
} 


// Section C
section#solawi-section-c {
    text-align: center;
    opacity: 0;
    transform: translateX(10rem);

    ul {
        padding: 0;
    }

    img {
        width: 100%;
    }
    
    div {
        padding: 2em;
    }
}

// Section D
section#solawi-section-d {
    text-align: center;
    opacity: 0;
    transform: translateX(-10rem);
    

    img {
        width: 100%;
    }

    div {
        padding: 2em;

        blockquote {
            font-weight: 500;
            font-style: oblique;
        }
    }
}