html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-size: $font-med;
  color: $darkGray;
  font-weight: 300;
  position: relative;
  scroll-behavior: smooth;
  

  &.noscroll {
    overflow: hidden;
  }


}

main {
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.6rem;
  letter-spacing: 1.1px;
  color: rgba(0, 0, 0, 0.4);
}

// Container & Wrapper

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}



// Flexbox Styles

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-js-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

// Buttons

button,
.btn {
  // display: inline-block;
  padding: 0.6rem 4rem;
  background: $green;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  color: $white;
  font-weight: 400;
  font-size: $font-sm;
  outline: none;
  font-weight: 700;
  box-shadow: 0rem 0rem 0.2rem rgba(0, 0, 0, 0.4);
}

// Visibility
.hide-for-mobile {
  // hide for tablet and mobile devices
  @include breakpoint-down(small) {
    display: none;
  }
}

.hide-for-desktop {
  // hide for desktop
  @include breakpoint-up(medium) {
    display: none;
  }
}


// Grid 
.grid {
  @include breakpoint-up(medium) {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr repeat(2 , minmax(auto, 20em)) 1fr;

    :nth-child(n) {
      grid-column: 2/4;
    }
  }
}


