// Colors:
$darkGreen: #36622B;
$green: #729D39;
$lightGreen: #C6E377;
$nature: #FBFAD3;
$darkGray: #333;
$white: #fff;

// $primaryColor: #4c5760;
// $secondaryColor: #93a8ac;
// $thirdColor: #d7ceb2;
// $fourthColor: #a59e8c;
// $fifthColor: #66635b;
// $veryLightGray: hsl(0, 0%, 98%);
// $white: hsl(0, 0%, 100%);
// $darkGray: #333;

// Font Sizes:
$font-s: 0.625rem; // 10px
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px